body {
  font-size: 16px;
  color: black
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 3px solid black;
}

.navbar-brand {
  padding-top: 27px;
  height: 80px;
}

.navbar-brand h1 { /* FOOD, LLC */
  font-family: 'Oxygen', sans-serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.nav{
  margin: 0;
  padding: 0;
}

.navbar-toggle{
  border: 2px solid white;
  margin-right: 25px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-default .navbar-nav>li>a {
    color: #333;
}

.container-fluid{
  margin: 0;
  padding: 0;
}

.menu-item{
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  color: black;
  display: block;
  text-align: center;
}

.menu-item:hover{
  background-color: grey;
  color: grey;
}


* {
  box-sizing: border-box;
}


h1 {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color:black;
  font-size: 35px;
}

.container
{
  background-color: grey;
  border: 3px solid black;
}


h2{
  text-align: center;
}

